@use "sass:math";
@import '../../styles/settings.scss';

.buttonsBackground {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
    background: black;
    width: 100%
}

.button {
    padding: 20px;
    background: green;
    color: #fff;
    border-style: solid;
    border: 3px;
    border-color: #fff;
    font-size: 16px;
    margin: 16px;
}